body {
    font-family: sans-serif;
  }
   
  h1 {
    text-align: center;
  }
  
  h2 {
    font-size: 20px;
    text-align: center;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
.results, .genres, .followers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}




.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#results{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

select {
  padding: 5px;
  margin: 5px;;
}